@font-face{
    font-family: "OpenSans";
    src: url("../fonts/OpenSans.ttf");
}
@font-face{
    font-family: "Tinos-Regular";
    src: url("../fonts/Tinos-Regular.ttf");
}

body {
    margin: 0;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
.container {
    margin: 0px 166px;
}
.header {
    background: #FAD3DC;
    height: 18vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-item {
    color: #ec4a62;
    font-weight: 700;
    font-size: 15px;
    margin-right: 25px;
    transition: color 0.3s linear;
}
.nav-item:hover {
    color: #f79cb6;
    text-decoration: none;
}



.cart {
    position: relative;
    border-right: 2px solid #ec4a62;
    padding-right: 10px;
    height: 50px;
}
.cart-img {
    position: absolute;
    top: 18px;
    right: 7px;
}
.num {
    color: #ec4a62;
    font-weight: 700;
    font-size: 16.9px;
    margin-left: 7px;

    transition: color 0.3s linear;
}
.num:hover {
    color: #f79cb6;
    text-decoration: none;
}
.phone-holder {
    display: flex;
    align-items: center;
}



@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
body
{
    font-family: 'Roboto', sans-serif;
}
a
{
    text-decoration: none;
}
.product-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    margin-left: 120px;
    background: #fafafa;
    display: inline-block;
    padding: 30px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 154%;
    max-height: 166%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4  {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #ec4a62;
    text-decoration: none;
    transition: 0.3s;
    white-space: nowrap;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #514849;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #ec4a62;
    transition: 0.3s;
    font-size: 17px;
}
.product-links a:hover {
    color: #f79cb6;
    text-decoration: none;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: #FAD3DC;
}
.footerContainer{
    width: 100%;
    padding: 20px 30px 10px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: #dd4f65;
    opacity: 0,9;
}
.socialIcons a:hover{
    background-color: #eca4af;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:#d44157;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #FAD3DC;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: #d3465b;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}
